<section class="abs-section" id="about">
  <div class="abs-general">
    <div class="abs-promotion">
      <h2 id="about" class="abs-title abs-line">About me</h2>
      <h3 class="abs-subtitle">
        МАЙСТЕР ВІДЕОСТВОРЕННЯ: СТВОРЕННЯ УНІКАЛЬНИХ ВІЗУАЛЬНИХ ІСТОРІЙ
      </h3>
      <p class="abs-description">
        Маючи репертуар із понад сотні ретельно створених відео, я канал моя
        креативність для створення вражаючої короткої реклами. я відданий тому,
        щоб розкрити весь свій потенціал, гарантуючи, що кожне відео є a
        ретельно створений шедевр.
      </p>
    </div>
    <div class="abs-advantages">
      <ul class="abs-advantages-list">
        <li class="abs-advantages-item">
          <h3 class="abs-subtitle-advantages">Спеціальна продуктивність</h3>
          <p class="abs-description-advantages">
            Кожне відео демонструє відданість і пристрасть.
          </p>
        </li>
        <li class="abs-advantages-item">
          <h3 class="abs-subtitle-advantages">Великий досвід</h3>
          <p class="abs-description-advantages">
            Відео є прикладом мого досвіду, кожен проект відточує мої навички.
          </p>
        </li>
        <li class="abs-advantages-item">
          <h3 class="abs-subtitle-advantages">Унікальне бачення</h3>
          <p class="abs-description-advantages">
            Мої відео відрізняються унікальним стилем.
          </p>
        </li>
      </ul>
    </div>
  </div>
  <div class="abs-img">
    <img
      class="abs-img-med"
      src="./images/me.webp"
      alt="white sofa and flower pot and chairs"
    />
  </div>
</section>
