<section class="abs-section" id="about">
  <div class="abs-general">
    <div class="abs-promotion">
      <h2 id="about-title" class="abs-title abs-line">About me</h2>
      <h3 class="abs-subtitle">ВІТАЮ! МЕНЕ ЗВАТИ КАРІНА</h3>
      <p class="abs-description">
        Зараз я з натхненням проходжу шлях відео-крієйтора мобільної зйомки, я
        знаю як передати в кадрі цінність і філософію бренду. Я про естетику та
        емоції, про гармонію та неординарність.
      </p>
    </div>
    <div class="abs-advantages">
      <ul class="abs-advantages-list">
        <li class="abs-advantages-item">
          <h3 class="abs-subtitle-advantages">Продуктивність</h3>
          <p class="abs-description-advantages">
            Готовий матеріал протягом 10 днів
          </p>
        </li>
        <li class="abs-advantages-item">
          <h3 class="abs-subtitle-advantages">Досвід</h3>
          <p class="abs-description-advantages">
            Робота з брендами у різних нішах
          </p>
        </li>
        <li class="abs-advantages-item">
          <h3 class="abs-subtitle-advantages">Бачення</h3>
          <p class="abs-description-advantages">
            Створюю унікальні та естетичні
          </p>
        </li>
      </ul>
    </div>
  </div>
  <div class="abs-img">
    <img
      class="abs-img-med"
      src="./images/me.webp"
      alt="white sofa and flower pot and chairs"
    />
  </div>
</section>
