<footer class="footer" id="footer">
  <div class="container footer-container">
    <a class="name name-footer link" href="/"
      >SERHIEIEVA <br />
      KARINA
    </a>
    <ul class="footer-icon-list">
      <li class="footer-icon">
        <a
          href="https://www.facebook.com/"
          class="icon-link link"
          target="_blank"
          aria-label="Visit my facebook"
        >
          <svg class="icon">
            <use href="./images/sprite.svg#icon-Frame-52"></use>
          </svg>
        </a>
      </li>
      <li class="footer-icon">
        <a
          href="https://www.instagram.com/"
          class="icon-link link"
          target="_blank"
          aria-label="Visit my instagram"
        >
          <svg class="icon">
            <use href="./images/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="footer-icon">
        <a
          href="https://www.youtube.com/"
          class="icon-link link"
          target="_blank"
          aria-label="Visit my youtube"
        >
          <svg class="icon">
            <use href="./images/sprite.svg#icon-Frame-60"></use>
          </svg>
        </a>
      </li>
    </ul>
    <nav class="footer-navigation">
      <ul class="footer-nav-list list">
        <li class="footer-nav-list-items">
          <a href="#about" class="footer-nav-link link">Про мене</a>
        </li>
        <li class="footer-nav-list-items">
          <a href="#vidoes-prewiev" class="footer-nav-link link"
            >Відео preview
          </a>
        </li>
      </ul>
    </nav>
    <address class="address" id="contacts">
      <ul class="footer-address-list list">
        <li>
          <a
            class="footer-address link"
            target="_blank"
            href="https://www.google.com.ua/maps/dir/49.3922884,33.2519092/49.3919363,33.2434897/@49.3830139,33.2010974,12z?hl=en&entry=ttu"
            >Місто Глобине, Полтавська область</a
          >
        </li>
        <li><p class="work-time">Кожен день 10:00-17:00</p></li>
      </ul>
      <ul class="footer-tel-list list">
        <li class="tel-link">
          <a class="footer-tel link" href="tel:+380669384758">+380666270638</a>
        </li>
        <li class="email-link">
          <a href="mailto:serhieievamua@gmail.com" class="email link"
            >serhieievamua@gmail.com</a
          >
        </li>
      </ul>
    </address>
    <div class="bottom-text-container">
      <p class="bottom-text">Created by Serhieie at 2024</p>
    </div>
  </div>
</footer>
