<section id="section-5" class="video_section_gallery section">
  <h1 class="visually-hidden">My works</h1>
  <div class="container-gallery container">
    <p class="categories_text"></p>
    <ul class="video-list list">
      <li class="video-list-item filter-item" data-category="Одежа">
        <video
          controls
          class="video-gallery"
          poster="./images/posters/pei-poster.webp"
          alt="Відео огляд сумочки від бренду pei-poster"
        >
          <source src="./video/jw-pei.mp4" type="video/mp4" />
          Ваш браузер не підтримує відео даного формату
        </video>
        <div class="video-block-big-text">
          <h2 class="gallery-h3">Розпаковка сумочки від JW-PEI</h2>
          <p class="desc-p link gallery-small-p">
            Короткометражне відео рекламного характеру
          </p>
        </div>
      </li>
      <li class="video-list-item filter-item" data-category="Дитяче">
        <video
          controls
          class="video-gallery"
          poster="./images/posters/light-dress-poster.webp"
          alt="Момент із повсякденного життя, дитина у легкому платті від ZARA"
        >
          <source src="./video/summerDress.mp4" type="video/mp4" />
          Ваш браузер не підтримує відео даного формату
        </video>
        <div class="video-block-big-text">
          <h2 class="gallery-h3 link">Дитяче плаття від ZARA</h2>
          <p class="desc-p link">Легке літне пляття у щоденній рутині</p>
        </div>
      </li>
      <li class="video-list-item filter-item" data-category="Косметика">
        <video
          controls
          class="video-gallery"
          poster="./images/posters/cream-poster.webp"
          alt="На відео використання крему для обличча від бренду MARBERT"
        >
          <source src="./video/cream.mp4" type="video/mp4" />
          Ваш браузер не підтримує відео даного формату
        </video>
        <div class="video-block-big-text">
          <h2 class="gallery-h3 link">Крем MARBERT</h2>
          <p class="desc-p link">Тест крему для обличчя</p>
        </div>
      </li>
      <li class="video-list-item filter-item" data-category="Косметика">
        <video
          controls
          class="video-gallery"
          poster="./images/posters/oil-poster.webp"
          alt="На відео використання сироватки від бренду ECOSMETICS"
        >
          <source src="./video/oil.mp4" type="video/mp4" />
          Ваш браузер не підтримує відео даного формату
        </video>
        <div class="video-block-big-text">
          <h2 class="gallery-h3 link">Сироватка COSMETICS</h2>
          <p class="desc-p link">Процесс нанесення сироватки</p>
        </div>
      </li>
    </ul>
  </div>
</section>
