<section id="section-5" class="video_section_portfolio section">
  <div class="container-portfolio container">
    <h1 class="visually-hidden">My works</h1>
    <ul class="video-list list">
      <li class="video-list-item filter-item" data-category="Одежа">
        <video controls class="video-portfolio">
          <source src="./video/jw-pei.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
        <div class="video-block-big-text">
          <h2 class="portfolio-h3">Banking App Interface Concept</h2>
          <p class="desc-p link portfolio-small-p">App</p>
        </div>
      </li>
      <li class="video-list-item filter-item" data-category="Косметика">
        <video controls class="video-portfolio">
          <source src="./video/cream.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
        <div class="video-block-big-text">
          <h2 class="portfolio-h3 link">Cashless Payment</h2>
          <p class="desc-p link">Marketing</p>
        </div>
      </li>
      <li class="video-list-item filter-item" data-category="Косметика">
        <video controls class="video-portfolio">
          <source src="./video/oil.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
        <div class="video-block-big-text">
          <h2 class="portfolio-h3 link">Meditation App</h2>
          <p class="desc-p link">App</p>
        </div>
      </li>
    </ul>
  </div>
</section>
