<section id="section-5" class="video_section_portfolio section">
  <div class="container-portfolio container">
    <h1 class="visually-hidden">My works</h1>
    <ul class="video-list list">
      <li class="video-list-item filter-item" data-category="Одежа">
        <video controls class="video-portfolio">
          <source src="./video/jw-pei.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
        <div class="video-block-big-text">
          <h2 class="portfolio-h3">Розпаковка сумочки від JW-PEI</h2>
          <p class="desc-p link portfolio-small-p">
            Короткометражне відео рекламного характеру
          </p>
        </div>
      </li>
      <li class="video-list-item filter-item" data-category="Дитяче">
        <video controls class="video-portfolio">
          <source src="./video/summerDress.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
        <div class="video-block-big-text">
          <h2 class="portfolio-h3 link">Дитяче плаття від ZARA</h2>
          <p class="desc-p link">Легке літне пляття у щоденній рутині</p>
        </div>
      </li>
      <li class="video-list-item filter-item" data-category="Косметика">
        <video controls class="video-portfolio">
          <source src="./video/cream.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
        <div class="video-block-big-text">
          <h2 class="portfolio-h3 link">Крем MARBERT</h2>
          <p class="desc-p link">Тест крему для обличчя</p>
        </div>
      </li>
      <li class="video-list-item filter-item" data-category="Косметика">
        <video controls class="video-portfolio">
          <source src="./video/oil.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
        <div class="video-block-big-text">
          <h2 class="portfolio-h3 link">Сироватка COSMETICS</h2>
          <p class="desc-p link">Процесс нанесення сироватки</p>
        </div>
      </li>
    </ul>
  </div>
</section>
