<header class="header">
  <div class="container header__container">
    <nav class="header_nav flex responsive-styles-for-large">
      <ul class="flex nav_list">
        <li>
          <a class="name link hidden" href="./index.html"
            >SERHIEIEVA <br />
            KARINA
          </a>
        </li>
        <li class="nav_container">
          <a class="nav-link about_me_link" href="#about">Про мене </a>
        </li>
        <li>
          <a class="nav-link portfolio_link" href="./gallery.html">Галерея </a>
        </li>
        <li>
          <a class="nav-link contacts_link" href="#footer">Контакти </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
