<header class="header">
  <div class="container header__container">
    <nav class="header_nav flex">
      <ul class="flex nav_list">
        <li>
          <a class="name link" href="./index.html"
            >SERHIEIEVA <br />
            KARINA
          </a>
        </li>
        <div class="flex nav_container">
          <li>
            <a class="nav-link about_me_link" href="#about">Це я </a>
          </li>
          <li>
            <a class="nav-link portfolio_link" href="./gallery.html"
              >Галерея
            </a>
          </li>
          <li>
            <a class="nav-link contacts_link" href="#footer">Контакти </a>
          </li>
        </div>
      </ul>
    </nav>
  </div>
</header>
