<section class="hero__section responsive-styles-for-large">
  <div class="container_hero">
    <div class="grid-container">
      <div class="item item-1-2">
        <a class="name-hero link" href="./index.html"
          >SERHIEIEVA <br />
          KARINA
        </a>
      </div>
      <div class="item item-3-11">
        <div class="pictures-set-container">
          <div class="hero_title_wrapper">
            <div class="hero_title_h1 fade-in">
              <h1>ЕСТЕТИКА ТА ЕМОЦІЯ В КОЖНОМУ <br />КАДРІ</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="item item-6-12" data-aos="fade-down-left">
        <video autoplay muted loop id="video-background-hero">
          <source src="./video/6-12.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
      </div>
      <div class="item item-7" data-aos="fade-right"></div>
      <div class="item item-8" data-aos="fade-right">
        <video autoplay muted loop id="video-background-hero">
          <source src="./video/8.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
      </div>
      <div class="item item-13-14" data-aos="fade-up-right">
        <video autoplay muted loop id="video-background">
          <source src="./video/me.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
      </div>
      <div class="item item-15" data-aos="fade-up">
        <video autoplay muted loop id="video-background-hero">
          <source src="./video/15.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
      </div>
      <div class="item item-16-18">
        <div class="hero_title_div">
          <p class="agitation_text">
            Завітайте у <span class="hero__h1_span">Мою</span> Галерею
          </p>
          <p class="hero__add_text">
            made with <span class="passion">passion</span> and
            <span class="love">love</span>
          </p>
        </div>
        <a class="watch_more" href="./gallery.html">Дивитися Всі Відео</a>
      </div>
    </div>
  </div>
</section>
