<section class="hero__section">
  <div class="container_hero">
    <div class="pictures-set-container">
      <div class="hero_title_wrapper">
        <h1 class="hero__title">
          Вітаю Вас у <span class="hero__h1_span">Моїй</span> Галереї
        </h1>
        <p class="hero__add_text">made with passion and love</p>
      </div>

      <!-- <img
        class="pictures-set"
        src="./images/Hero.png"
        alt="daily things with cofee and notebook"  
        aria-label="hero-image"
      /> -->
    </div>
  </div>
</section>
