<section class="video-gallery-section" id="vidoes-prewiev">
  <div class="container container-videos-gallery">
    <h2 id="our-prod-id" class="products-title">Відео PREVIEW</h2>
    <ul class="products-list">
      <li class="products-item">
        <video
          muted
          class="video first-item"
          poster="./images/posters/pei-poster.webp"
        >
          <source src="./video/jw-pei.mp4" type="video/mp4" />
          Ваш браузер не підтримує відео даного формату
        </video>
      </li>
      <li class="products-item mobile-op">
        <video muted class="video" poster="./images/posters/oil-poster.webp">
          <source src="./video/oil.mp4" type="video/mp4" />
          Ваш браузер не підтримує відео даного формату
        </video>
      </li>
      <li class="products-item mobile-op tablet-op">
        <video
          muted
          class="video third-item"
          poster="./images/posters/cream-poster.webp"
        >
          <source src="./video/cream.mp4" type="video/mp4" />
          Ваш браузер не підтримує відео даного формату
        </video>
      </li>
    </ul>
    <a class="to-gallery-btn" href="./gallery.html">Дивитися більше</a>
  </div>
</section>
