<section class="video-gallery-section" id="vidoes-prewiev">
  <div class="container container-videos-gallery">
    <h2 id="our-prod-id" class="products-title">Відео PREVIEW</h2>
    <ul class="products-list">
      <li class="products-item">
        <video muted class="video first-item">
          <source class="" src="./video/jw-pei.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
        <p class="products-text">Розпаковка сумочки JW-PEI</p>
      </li>
      <li class="products-item mobile-op">
        <video muted class="video">
          <source class="" src="./video/cream.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
        <p class="products-text">MARBERT Крем для обличчя</p>
      </li>
      <li class="products-item mobile-op tablet-op">
        <video muted class="video third-item">
          <source class="" src="./video/oil.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
        <p class="products-text">Огляд олійки ECOSMETICS</p>
      </li>
    </ul>
    <a class="to-gallery-btn" href="./gallery.html">Дивитися більше</a>
  </div>
</section>
