.products-title {
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 33px;
}

.products-text {
  margin-top: 16px;
}

.mobile-op {
  display: none;
}

.container-videos-gallery {
  padding-top: 80px;
  padding-bottom: 60px;
}

.to-gallery-btn {
  display: block;
  text-align: center;
  width: 190px;
  color: var(--hover-btnText);
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 10px;
  padding: 6px 16px;
  background-color: var(--brand-color);
  transition: all 300ms ease-in-out;
}

.to-gallery-btn:hover {
  background-color: var(--hover-color);
}

.products-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.products-item .video {
  width: 100%;
}
.products-list {
  width: 98%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 14px;
}

@media screen and (min-width: 768px) {
  .products-title {
    font-size: 32px;
    line-height: 1.4;
    margin-bottom: 30px;
  }

  .mobile-op {
    display: flex;
  }

  .tablet-op {
    display: none;
  }

  .products-text {
    margin-top: 15px;
  }
  .products-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1440px) {
  .tablet-op {
    display: flex;
  }

  .products-list {
    width: 1200px;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
  }

  .to-gallery-btn {
    padding: 10px 16px;
  }

  .container-videos-gallery {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .first-item {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
  }

  .third-item {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
  }
}

.video-preview {
  object-fit: cover;
}
